<!-- Auth Modal -->
<div id="register" class="touch modal">
  <header class="bar bar-nav">
    <a class="touch icon pull-right close" href="#register">X</a>
    <h1 class="title">Welcome</h1>
  </header>

  <div class="content">
    <p class="content-padded">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5 col-md-offset-3">
            <%= render "devise/registrations/form_new" %>
          </div>
        </div>
      </div>
    </p>
  </div>
</div>
