<div id="listings" class="transitions-enabled">
  <% @listings.each do |listing| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(listing.image.url(:medium)), listing %>
      <div class="panel-body">
        <b><%= listing.title %></b>
        <br>
        <span><%= listing.points_starting %> KP</span>
        <br>
        <br>
        <strong><%= listing.user.name if listing.user %></strong>
      </div>
    </div>
  <% end %>
</div>
