<%= render 'pages/home' %>
<ul class="nav nav-pills">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Popular <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li>Recent</li>
      <li>Most Viewed</li>
      <li>Most Commented</li>
    </ul>
  </li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Category <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
    </ul>
  </li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      New <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
    </ul>
  </li>
</ul>
<%= render "listings/listings" %>
