<div id="listing-new" class="container">
  <div class="row">
    <%= link_to root_path do %>
      <div id="back" class="panel col-sm-1 col-xs-offset-1">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </div>
    <% end %>
    <div id="listing-content" class="col-sm-8 panel panel-default">
      <div class="col-xs-offset-1 col-xs-8">
        <h1>New Listing</h1>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
