<div id="listing-content" class="col-sm-11 panel panel-default">
  <div class="col-xs-4">
    <%= render "listings/layouts/listing_info" %>
  </div>
  <div class="col-xs-3">
    <%= render "listings/layouts/listing_bid" %>
  </div>
  <div class="col-xs-5">
    <%= render "listings/layouts/listing_reviews" %>
  </div>
</div>
