<div id="message-new" class="container text-center">
  <div class="row">
    <div id="message-form" class="col-md-offset-2 col-md-8 panel panel-default">
      <div class="col-md-offset-2 col-md-8">
        <div class="col-md-offset-2 col-md-8">
          <%= render 'users/profile_box'%>
        </div>
        <div class="col-md-offset-1 col-md-10">
          <form action="/inbox"  method="post">
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <input type="hidden" name="mailbox[recipient_id]"
                  value="<%= @user.id %>">
            <input type="text" name="mailbox[subject]"
                              class="form-control"
                              placeholder="Subject">
            <textarea rows="4" cols="50" 
                               type="text" 
                               name="mailbox[message]"
                               class="form-control"
                               placeholder="Message"></textarea>
            <br>
            <button class="btn btn-danger btn-default"
                    type="submit">
              Send Message
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
