<div id="profile" class="text-center">
  <%= image_tag('elements-11.png', size: "70x70", id: "user-avatar") %>
  <p>
    <%= user.name %>
    </br>
    <%= user.zip_code.to_s.to_region %>
  </p>
</div>
