<div id="chat-box" class="col-sm-3">
  <div id="chat">
    <div class="container">
      <p class="datestamp">May 20, 2014, 4:16 PM</p>
      <div class="bubble">
      <p>Hey how's it going?</p>
      </div>
      <div class="bubble bubble-alt">
      <p>Just sending out random SMS to people</p>
      </div>
      <p class="humanify">Notification from Humanify.</p>
      <div class="bubble">
      <p>Cool, cool.</p>
      </div>
      <div class="bubble">
      <p>Sometimes I do that too. Like right now.</p>
      </div>
      <div class="bubble bubble-alt">
      <p>So how's life? Anything interesting? I'm okay just hanging around doing nothing staring out the window, thinking I should go outside but eh.</p>
      </div>
      <div class="bubble">
      <p>Yeah sweet bro. Today I'm feeling pink.</p>
      </div>
      <div class="bubble bubble-alt">
      <p>I'm kinda going yellow today.</p>
      </div>
      <div class="bubble bubble-alt">
      <p>No wait red.</p>
      </div>
    </div>
  </div>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Send Message">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">
        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
      </button>
    </span>
  </div>
</div>
