$link-color: #f2253e;

.box {
  width: 315px;
}

.box {
  img {
    width: 100%;
  }
  #avatar{
    img {
      width: 45px;
    }
    a {
      margin: 0px 5px;
      font-weight: 500;
    }
    p {
      display: inline-block;
    }
  }
  .panel-footer {
    padding: 5px 15px;
  }
}
a.panel-link {
  color: #333333;
  &:hover { text-decoration: none; }
}

#location, #type {
  .panel {
    padding: 15px 0px 15px;
    font-size: 12px;
    cursor: pointer;
    margin: 5px;
  }
  span {
    font-size: 35px;
  }
  padding: 15px;
}

#listings {
  margin: 0 auto;

  .box {
    margin: 15px;
  }
  .panel {
    #type {
      position: absolute;
      top: 0px;
      text-align: left;
      font-size: 12px;
      line-height: 3;
      padding-left: 11px;
      font-weight: 700;
      color: #FFFFFF;
      text-shadow: 0 0px 3px rgba(0, 0, 0, 0.33);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), transparent);
      width: 100%;
      height: 38px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  #new-panel {
    background-color: #F2253E;
    height: 105px;
    padding-top: 5px;
    p, span {
      color: white;
      line-height: 1.5;
    }
    p { font-size: 18px; }
    span { font-size: 23px; }
  }
}
#listing-show {
  .list-group-item.active, .list-group-item.active:hover,
  .list-group-item.active:focus {
    background-color: #f2253e;
    border-color: #ef0e2a;
  }
  img { border-radius: 2px; }
  #listing-content {
    padding: 40px 10px 45px;
    min-height: 550px;
    #points {
      color: #F2253E;
      font-size: 50px;
      font-weight: 300;
      i {
        font-style: normal;
        font-size: 40px;
      }
    }
    #title {
      border-bottom: 1px #D5D5D5 solid;
      padding-bottom: 15px;
    }
  }
  #listing-body {
    .panel-heading {
      min-height: 75px;
      background-color: #fff;
    }
    .panel-body {
      min-height: 48px;
      padding: 4px 14px 4px;
      text-shadow: rgba(0,0,0,.01) 0 0 1px;
      line-height: 1.8;
      span { cursor: pointer; }
      #heart {
        font-size: 23px;
        color: #F2253E;
        border-right: 1px #ECF0F1 solid;
      }
      #share {
        color: #777;
        font-size: 23px;
      }
    }
    #head {
      min-height: 5px;
    }
    #time {
      position: absolute;
      top: 0px;
      font-size: 12px;
      padding: 6px;
      border-radius: 2px;
      color: #777777;
      background: white;
      margin: 5px;
    }
  }
  #listing-bid {
    #disable, .disable {
      input {
        cursor: default;
      }
      #points {
        color: #828282;
      }
    }
  }
  #listing-offer {
    #boost {
      #title {
        font-size: 20px;
        margin-top: 21px;
      }
    }
  }
  #offerList {
    .recipients {
      padding: 5px 15px 25px;
      max-height: 317px;
      overflow: scroll;
      border-top: 40px white solid;
      &:after {
        position: absolute;
        top: 15px;
        left: 15px;
        font-size: 12px;
        font-weight: 700;
        color: #959595;
        text-transform: uppercase;
        letter-spacing: 1px;
        content: "Offers";
      }
      .media {
        border-bottom: 1px rgba(183, 183, 183, 0.1) solid;
      }
    }
  }
}
#listing-content {
  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default {
    border: 1px solid #DDDDDD;
    background: #EFEFEF;
    color: #F2253E;
    &:after {
      content: "x";
      margin-left: 10px;
      font-size: 25px;
      font-weight: 500;
      color: #E1E1E1;
    }
  }
  ul.tagit li.tagit-choice {
    line-height: 1;
  }
  ul.tagit li.tagit-choice-editable {
    padding: 0em 0.4em 0.4em 0.4em;
  }
}
@import "../lib/jquery-ui";
@import "../lib/jquery.tagit";
