#user-profile {
  padding: 4em 1.8em;
  h3 {
    color: #777;
  }
  #profile {
    margin: 15px;
  }
  @media (min-width: 992px) {
    div.col-md-3 {
      border-right: 1px solid #F1F1F1;
      min-height: 160px;
    }
  }
  #action {
    &.col-md-3 {
      border-right: 0px;
    }
    margin-top: 35px;
    a {
      margin: 5px 0;
      float: none;
      width: 100%;
    }
  }
}
