<div class="container">
  <div class="row">
    <div class="col-md-12"><div class="split"></div></div>
  </div>
</div>
<div class="footer container">
  <div class="row">
    <%= link_to "https://github.com/vsquared10/humanifymvp",
      { target: "_blank" } do %>
      <div class="col-md-4 message">
        Made with <%= image_tag('favicon.gif') %> all over San Francisco, California.
      </div>
    <% end %>
    <div class="col-md-offset-4 col-md-4">
      <ul class="nav nav-pills links">
        <!--
          <li><a href="#">About</a></li>
          <li><a href="#">Help</a></li>
          -->
      </ul>
    </div>
  </div>
  <div class="row">
    <div id="copyright" class="col-md-offset-10 text-right col-md-2">
      © 2015 Humanify, Inc.
    </div>
  </div>
</div>
