<% #uncomment in the future for rails prerendering %>
<%# react_component('UserNotifications',
                    notifications: @notifications, id: "notificationsW") %>
<div id="notificationsW">
</div>
