<div class="row <%= params[:controller]+"-"+params[:action] %>" id="listing-search-input">
  <div class="input-group <%= current_user.present? ? "col-sm-6 col-md-9" : "col-sm-10" %>">
      <input type="text" class="search-query form-control" placeholder="Search" />
      <span class="input-group-btn">
          <button class="btn btn-danger" type="button">
              <span class=" glyphicon glyphicon-search"></span>
          </button>
      </span>
  </div>
</div>
